In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('emaildb.sqlite')  # creates the file if not exists and connects if it exists
cur = conn.cursor()

In [4]:
cur.execute('''
DROP TABLE IF EXISTS Counts''')

In [5]:
cur.execute('CREATE TABLE Counts (email TEXT, count INTEGER)')

In [10]:
fname = input('Enter the filename: ')
if(len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname, 'r')
for line in fh:
  if not line.startswith('From: '):continue
  pieces = line.split()
  email = pieces[1]
  cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))  # just make sures syntax is correct and everything is ok. 
  row = cur.fetchone()
  if row is None:
    cur.execute("INSERT INTO Counts (email, count) VALUES (?, 1)", (email,))
  else:
    cur.execute("UPDATE Counts SET count = count + 1 WHERE email = ?", (email,))
  conn.commit()

Enter the filename: mbox-short.txt

In [11]:
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

In [12]:
for row in cur.execute(sqlstr):
  print(str(row[0]), row[1])

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1