In [14]:
import json 
import sqlite3

In [15]:
conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

In [16]:
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User(
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
  name TEXT UNIQUE
);

CREATE TABLE Course(
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
  title TEXT UNIQUE
);

CREATE TABLE Member(
  user_id INTEGER, 
  course_id INTEGER, 
  role INTEGER, 
  PRIMARY KEY (User_id, course_id)
);
''')

In [17]:
fname = input('Enter the filename: ')
if len(fname) < 1:
  fname = 'roster_data_sample.json'

Enter the filename: roster_data_sample.json

In [18]:
str_data = open(fname).read()
json_data = json.loads(str_data)

In [19]:
for entry in json_data:
  name = entry[0]
  title = entry[1]

  print((name, title))

  cur.execute('''INSERT OR IGNORE INTO User (name) VALUES (?)''', (name, ))
  cur.execute('SELECT id FROM User WHERE name = ?', (name, ))
  user_id = cur.fetchone()[0]

  cur.execute('''INSERT OR IGNORE INTO Course (title) VALUES (?)''', (title, ))
  cur.execute('SELECT id FROM Course WHERE title = ?', (title, ))
  course_id = cur.fetchone()[0]

  cur.execute('INSERT OR REPLACE INTO Member (user_id, course_id) VALUES (?, ?)', (user_id, course_id))
  conn.commit()

('Charley', 'si110')
('Mea', 'si110')
('Hattie', 'si110')
('Lyena', 'si110')
('Keziah', 'si110')
('Ellyce', 'si110')
('Thalia', 'si110')
('Meabh', 'si110')
('Aria', 'si110')
('Reena', 'si110')
('Ioannis', 'si110')
('Reily', 'si110')
('Sidharth', 'si110')
('Keiara', 'si110')
('Yann', 'si110')
('Marykate', 'si110')
('Dylan', 'si110')
('Kiran', 'si110')
('Faizaan', 'si110')
('Aneshia', 'si110')
('Kamron', 'si110')
('Allen', 'si110')
('Marshall', 'si110')
('Rosa', 'si106')
('Nora', 'si106')
('Mairin', 'si106')
('Zendel', 'si106')
('Honie', 'si106')
('Betsy', 'si106')
('Davie', 'si106')
('Larissa', 'si106')
('Shaurya', 'si106')
('Shania', 'si106')
('Sorcha', 'si106')
('Jeanna', 'si106')
('Temba', 'si106')
('Buse', 'si106')
('Mohammed', 'si106')
('Kayah', 'si106')
('Kareena', 'si106')
('Dineo', 'si106')
('Philippa', 'si106')
('Lia', 'si206')
('Sharlyn', 'si206')
('Linton', 'si206')
('Temilade', 'si206')
('Areez', 'si206')
('MacCartney', 'si206')
('Abubakar', 'si206')
('Derryn', 'si206')
('Elan', 'si206')
('Vikki', 'si206')
('Anisa', 'si206')
('Klevis', 'si206')
('Tait', 'si206')
('Rhea', 'si206')
('Pearsen', 'si206')
('Willow', 'si206')
('Skye', 'si206')
('Caralee', 'si206')
('Charlee', 'si206')
('Karyn', 'si206')
('Elana', 'si206')
('Maggie', 'si206')
('Eryk', 'si206')
('Zulaikha', 'si301')
('Elshan', 'si301')
('Anastasia', 'si301')
('Connar', 'si301')
('Anay', 'si301')
('Jayla', 'si301')
('Cai', 'si301')
('Zijie', 'si301')
('Riana', 'si301')
('Codie', 'si301')
('Colette', 'si301')
('Lucee', 'si301')
('Tatiana', 'si301')
('Zhong', 'si301')
('Lowri', 'si301')
('Maggy', 'si301')
('Basher', 'si301')
('Tanika', 'si301')
('Aria', 'si301')
('Belle', 'si301')
('Laranya', 'si301')
('Dayna', 'si301')
('Elleanne', 'si301')
('Maanav', 'si310')
('Tamta', 'si310')
('Frazer', 'si310')
('Sacha', 'si310')
('Aidan', 'si310')
('Abel', 'si310')
('Ahtasham', 'si310')
('Avinash', 'si310')
('Colette', 'si310')
('Cohen', 'si310')
('Rori', 'si310')
('Youer', 'si310')
('Jamey', 'si310')
('Makenzie', 'si310')
('Ida', 'si310')
('Alexzander', 'si310')
('Kavita', 'si310')
('Talia', 'si310')
('Anthony', 'si310')
('Elona', 'si334')
('Inan', 'si334')
('Caoilainn', 'si334')
('Ainsley', 'si334')
('Franciszek', 'si334')
('Corrie', 'si334')
('Nolan', 'si334')
('Makala', 'si334')
('Obieluem', 'si334')
('Camryn', 'si334')
('Honie', 'si334')
('Ole', 'si334')
('Raine', 'si334')
('Tyllor', 'si334')
('Diane', 'si334')
('Cullen', 'si334')
('Taylor', 'si334')
('Schekina', 'si334')
('Kensey', 'si334')
('Zhi', 'si334')
('Kiran', 'si334')
('Tymoteusz', 'si334')
('Windsor', 'si363')
('Kashish', 'si363')
('Diarmid', 'si363')
('Laura', 'si363')
('Jaskaran', 'si363')
('Presley', 'si363')
('Brooklynn', 'si363')
('Heddle', 'si363')
('Travis', 'si363')
('Alx', 'si363')
('Airen', 'si363')
('Erika', 'si363')
('Mackie', 'si363')
('Wen', 'si363')
('Seaan', 'si363')
('Meghan', 'si363')
('Ryaan', 'si363')
('Imogem', 'si364')
('Harlie', 'si364')
('Ronnie', 'si364')
('Lucca', 'si364')
('Shanelle', 'si364')
('Ieuan', 'si364')
('Anneliese', 'si364')
('Simon', 'si364')
('Sorche', 'si364')
('Nawal', 'si364')
('Adelaide', 'si364')
('Rhia', 'si364')
('Katarzyna', 'si364')
('LLeyton', 'si364')
('Enzo', 'si364')
('Declan', 'si364')
('Emelie', 'si364')
('Baillie', 'si364')
('Shola', 'si364')
('Jenna', 'si422')
('Miles', 'si422')
('Sakina', 'si422')
('Melanie', 'si422')
('Bailie', 'si422')
('Cassy', 'si422')
('Nikash', 'si422')
('Hebe', 'si422')
('Sia', 'si422')
('Skyla', 'si422')
('Jamaal', 'si422')
('Keanna', 'si422')
('Vanya', 'si422')
('Temperance', 'si422')
('Hafiza', 'si422')
('Alx', 'si422')
('Brigitte', 'si422')
('Eliana', 'si422')
('Kayden', 'si422')
('Man', 'si422')
('Jaydyn', 'si422')
('Soukina', 'si430')
('Stephenjunior', 'si430')
('Buddy', 'si430')
('Holly', 'si430')
('Kamilia', 'si430')
('Cassie', 'si430')
('Kris', 'si430')
('Maia', 'si430')
('Abel', 'si430')
('Tamika', 'si430')
('Deano', 'si430')
('Rosa', 'si430')
('Georgia', 'si430')
('Louie', 'si430')
('Kassie', 'si430')
('Mutinta', 'si430')
('Manwen', 'si430')